html {
    height: 100%;
}

body {
    background: url('/media/beer-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #424242;
    font-family: 'Jost', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
    color: #DFB959;
}

.main-logo-link:hover {
    color: #b49444;
}

.shop-now-button {
    background: #DFB959;
    color: white;
    min-width: 260px;
}

.home-tagline {
    color: #fff;
    font-weight: 600;
}

.btn-black {
    background: #DFB959;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #fff;
    color: #DFB959;
}

.text-theme {
    color: #DFB959 !important;
}

.bg-theme {
    background: #424242;
}

.border-theme {
    border: 2px solid #DFB959 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* padding for top when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    .body {
        height: calc(100vh - 116px);
    }
}