<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=brewery&direction=asc" class="dropdown-item ">By Brewery</a>
                <a href="{% url 'products' %}?sort=style&direction=asc" class="dropdown-item ">By Style</a>
                <a href="{% url 'products' %}?sort=country&direction=asc" class="dropdown-item ">By Country</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Beers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="breweries-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Breweries
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="breweries-link">
                <a href="{% url 'products' %}?brewery=kinnegar" class="dropdown-item">Kinnegar</a>
                <a href="{% url 'products' %}?brewery=oharas" class="dropdown-item">O'Hara's</a>
                <a href="{% url 'products' %}?brewery=lough_gill" class="dropdown-item">Lough Gill</a>
                <a href="{% url 'products' %}?brewery=white_hag" class="dropdown-item">White Hag</a>
                <a href="{% url 'products' %}?brewery=founders" class="dropdown-item">Founders</a>
                <a href="{% url 'products' %}?brewery=lost_and_grounded" class="dropdown-item">Lost and Grounded</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="styles-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beer Styles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="styles-link">
                <a href="{% url 'products' %}?style=ipa" class="dropdown-item">IPA</a>
                <a href="{% url 'products' %}?style=stout" class="dropdown-item">Stout</a>
                <a href="{% url 'products' %}?style=sour" class="dropdown-item">Sour</a>
                <a href="{% url 'products' %}?style=pilsner" class="dropdown-item">Pilsner</a>
                <a href="{% url 'products' %}?style=ale" class="dropdown-item">Ale</a>
                <a href="{% url 'products' %}?style=gose" class="dropdown-item">Gose</a>
                <a href="{% url 'products' %}?style=lager" class="dropdown-item">Lager</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Countries
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?country=ireland" class="dropdown-item">Ireland</a>
                <a href="{% url 'products' %}?country=uk" class="dropdown-item">UK</a>
                <a href="{% url 'products' %}?country=usa" class="dropdown-item">USA</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>
    </ul>
</div>